
/* header */
.header{
    background-color: #0e4165;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.fa{
    color: white;
}
.header-logo__img{
    width: 150px;
    margin-top: 7px;
}
.icon-mobile__appstore{
    height: 40px;
}
.header-element{
    height:40px;
    margin-top: 4px !important;
    text-align: center;
}
/* end header */

/*menu*/
.menu{
  background-color: #252b2f;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    margin-top: 69px;
    background-color: #252b2f;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* slide dot */
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: active}
img {vertical-align: middle;}

#slide-one div.title-slide{
  margin-top: 470px;position: absolute; font-weight: bold;
}

/* #slide-one.img-slide-one{
  width: 950px; height: 500px;
} */
/* #slide-one-related-one{
  margin-top:-180px;margin-right: 87px;
} */

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin-left: 76px;
  margin-top: 120px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-slide{
  text-align:right;
  margin-right: 70px;
}
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active, .dot:hover {
  background-color: #5a4183;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#slide-one div {
  margin-top:-180px;margin-right: 64px;
}



/* content */
.news{
  background-color: #edeff0;
}
.top-new-text {
  margin-top: 60px;
  margin-left: 44px;
  text-decoration: underline;
  text-decoration-color: #e1493e;
  text-underline-position: under;
}

.card {
  position: relative;
  width: 300px;
  height: 370px;
}


/* test view all */
.st-lg .btn-view-all {
  text-align: right;
  white-space: nowrap;}
  .btn, a, button {
    transition: all .4s ease;
}
.btn-primary {
  color: #fff;
  background-color: #0fb3f3;
  border-color: #0fb3f3;}

  .height-img{
    height: 200px;
  }


  /* log detail */
  .inline-site-logo {
    background: #c4c4c4;
    display: inline-block;
    vertical-align: sub;
    height: 17px;
}
.text-center.mb-1 img[data-v-cdb3c954] {
  min-height: 1.5rem;
}
.card-detail{
  width: 150px;
}


/* view icon */
.banner-view-tag {
  position: absolute;
  background-color: #0fb3f3;
  color: #fff;
  padding: 6px 10px;
  top: 180px;
  right: -10px;
}
.banner-view-tag::after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: -7px;
  right: 0;
  content: "";
  position: absolute;
}


/* new icon */
.tag-new {
  margin-bottom: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  background-color: #ffae01;
  color: #fff;
  letter-spacing: 0.1em;
  border-radius: 10px;
  padding: 1.4px 4px 0.5px 6px !important;
}

/* css col-10 */
#content.col-10{
  padding-left: 0px;
  padding-right: 0px;
}

.content{
  margin-left: 30px;
}


/*footer  */

.footer{
  margin-top: 50px;
  height: 110px;
}
.footer a{
  color: #111;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-position: under;

}
.footer p{
  text-align: center;
  padding-top: 2em;
}